.App {
  text-align: center;
}

.TrackList {
  /*height: 1000px;*/
  list-style: none;
  padding: 0;
  border-top: 1px solid #ccc;
}

.TrackListItem {
  height: 45px;
  border-bottom: 1px solid #ccc;
  line-height: 45px;
}

.Player {
  /*background: red;*/
  position: fixed;
  bottom: 0px;
  width: 100%;
  box-shadow: 0px -1px 20px 1px #ccc;
  background: #fff;
  padding: 10px 0;
}

.QueueList {
  list-style: none;
  padding: 0;
}

.Button {
  /*background: green;*/
  height: 30px;
  border: 1px solid black;
  min-width: 80px;
}
