.DS_Store
npm-debug.log
server/npm-debug.log
**/*.log
**/.env
notes.md
sandbox
mock_assets
node_modules
dist
**/notes.*
.dockerignore
docker-compose.yml
**/build
server/client_build
.commit_notes
**/coverage
github_dl_test